---
exclude: "^docs/|/migrations/"
default_stages: [commit]
default_language_version:
  python: python3.10

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autofix_commit_msg: |
    "refactor[pre-commit.ci]: auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci"
  autofix_prs: true
  autoupdate_commit_msg: "bump[pre-commit.ci]: auto-update pre-commit hooks"
  autoupdate_schedule: weekly
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-docstring-first
      - id: debug-statements
      - id: name-tests-test
        args: [ "--django" ]
      - id: check-ast
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
        args: [ --format, parsable, --strict ]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: ['-iii', '-ll', '-s', 'B404', 'B602', 'B603', 'B607']
        language_version: python3.10
        exclude: ^test/

  - repo: https://github.com/PyCQA/docformatter
    rev: v1.5.0
    hooks:
      - id: docformatter
        args: [ --in-place, --wrap-summaries=115, --wrap-descriptions=120 ]

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config=setup.cfg"]
        additional_dependencies: [
          "flake8-typing-imports",
          "flake8-bugbear",
          "flake8-comprehensions",
          "flake8-mutable",
          "flake8-print",
          "flake8-simplify",
          "flake8-django",
          "flake8-pytest-style",
        ]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)

  - repo: https://github.com/rtts/djhtml
    rev: v1.5.2
    hooks:
      - id: djhtml

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        additional_dependencies: ["toml"]

  - repo: https://github.com/pycqa/pylint
    rev: v2.15.4
    hooks:
      - id: pylint
        exclude: |
            (?x)^(
                one_barangay\/templatetags\/.*
            )$
        args: [ "--load-plugins=pylint_django", "--django-settings-module=config.settings.local" ]
        additional_dependencies:
          - pylint_django
          - django
          - faker
          - djangorestframework
          - crispy-bootstrap5
          - django-environ
          - django-allauth
          - django-cors-headers
          - drf-spectacular
          - dj-rest-auth
          - django-compressor
          - psycopg2-binary
          - whitenoise
          - django-debug-toolbar
          - django-extensions
          - django-taggit
          - django-filter
          - django-import-export
          - django-jazzmin
          - django-auditlog
          - django-adminactions
          - django-tinymce
          - django-push-notifications
          - PyPDF2
          - reportlab

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.982
    hooks:
      - id: mypy
        exclude: "[a-zA-Z]*/(migrations)/(.)*"
        additional_dependencies: [
          djangorestframework-stubs,
          django-stubs,
          django,
          faker,
          djangorestframework,
          crispy-bootstrap5,
          django-environ,
          django-allauth,
          django-cors-headers,
          drf-spectacular,
          dj-rest-auth,
          django-compressor,
          psycopg2-binary,
          django-taggit,
          django-filter,
          django-import-export,
          django-jazzmin,
          django-auditlog,
          django-adminactions,
          django-tinymce,
          django-push-notifications,
          PyPDF2,
          reportlab
        ]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        args: [ "--py36-plus", "--py37-plus", "--py38-plus", "--py39-plus" ]
